<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Techies HomePage</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/animate.min.css" type="text/css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/creative.css" type="text/css">
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top login-nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="img/logo1.jpg" class="navbar-logo pull-left" alt="" />
                <a class="navbar-brand page-scroll animated flipInX" href="#page-top">Techies Nest</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>

                    <!--login drop down -->
                    <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form" role="form" action="/auth/login" method="post" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                       <input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                    </div>
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputPassword2">Password</label>
                                       <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                    </div>
                                    <div class="checkbox">
                                       <label>
                                       <input type="checkbox"> Remember me
                                       </label>
                                       <a href="/auth/signup" class="pull-right">Signup</a>
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="font-size: 65px;"><i class="fa fa-cogs icon-he"></i> WE ARE Techies</h1>
                <!-- Slideshow start -->  
                <div id="slideshow" class="carousel slide vertical scrollpoint sp-effect3" data-ride="carousel">
                    <div class="carousel-inner">
                        <!-- Slideshow item 1 active --> 
                        <div class="item active"><h3>I <i class="fa fa-heart icon-first"></i> webdesign</h3></div>
                        <!-- Slideshow item 2 -->     
                        <div class="item"><h3>Creative coder <i class="fa fa-code icon"></i></h3></div>
                        <!-- Slideshow item 3 -->   
                        <div class="item"><h3><i class="fa fa-trophy"></i>Become Techies?</h3></div>
                    </div>
                </div>
                <hr>  <!-- Orange Line --> 
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                <a href="/auth/login" class="btn btn-primary btn-xl page-scroll">Sign up/Login</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Why become Techies?</h2>
                    <hr class="light">
                    <p class="text-faded">Advances in client-side technologies are driving changes in the role of web application server. As techies, always try to learn more and improve the web application.</p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fields Of Thinking</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Webapp Architecture</h3>
                        <p class="text-muted">MEAN stack, JavaScript client-side MVC framework support.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Security</h3>
                        <p class="text-muted">Third party authentication; Data encryption in Database; Secure Express apps header; Oath token</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Performance</h3>
                        <p class="text-muted">Reduce number of database queries; Multithreading the node.js server</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>UI Design</h3>
                        <p class="text-muted">Bootstrap, Font-awesome and Angularjs-animate</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Webapp Group -Python Hadoop
                                </div>
                                <div class="project-name">
                                    CE Searching Engine UofT
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Arduino, MatLab
                                </div>
                                <div class="project-name">
                                    Controlled Balanced Arm System UofT
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Server -UNIX,C language
                                </div>
                                <div class="project-name">
                                    Communication Server Design UofT
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Verilog,DE2 Board
                                </div>
                                <div class="project-name">
                                    Lego Model Garbage Truck UofT
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                   Website -WordPress 
                                </div>
                                <div class="project-name">
                                   Profile Landing Page 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Digital Analog
                                </div>
                                <div class="project-name">
                                    Graduation Design: Heart Beat Detecting System UofT
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="content-first">
        <div class="container">
          <h2 class="scrollpoint sp-effect3">Contact me</h2>
            <div class="contact-alert">
            </div>
            <div class="row">
            <!-- PRICING TABLE FIRST - start --> 
                <div class="col-sm-12">
                  <img src="img/macbook.png" class="img-responsive hidden-xs" alt="">
                    
                    <div class="macbook-inner">
                      <div class="row scrollpoint sp-effect4">
                          <div class="col-sm-8">
                              <h3 class="hidden-xs">Leave a message</h3>
                                
                                <form role="form" id="contactForm">

                                    <div class="form-group control-group">
                                        <div class="controls">
                                            <p class="help-block"></p>
                                            <input type="text" class="form-control" placeholder="First Name" name="firstname" data-validation-required-message="Please enter your first name." aria-invalid="false">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group control-group">
                                        <div class="controls">
                                            <p class="help-block"></p>
                                            <input type="text" class="form-control" placeholder="Last Name" name="lastname" data-validation-required-message="Please enter your last name." aria-invalid="false">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group control-group">
                                        <div class="controls">
                                            <p class="help-block"></p>
                                            <input type="email" class="form-control" placeholder="Email" name="email" data-validation-required-message="Please enter your email address." aria-invalid="false">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group control-group">
                                        <div class="controls">
                                            <p class="help-block"></p>
                                            <textarea class="form-control" placeholder="Message" name="message" data-validation-required-message="Please enter some message." aria-invalid="false"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Send message</button>
                                    </div>
                                </form>
                                
                            </div>
                            <div class="col-sm-4">
                            
                            <img src="img/logo1.jpg" class="contact-image image-responsive hidden-xs hidden-sm" alt="" />
                              <div class="contact-info">
                                  <p>Ryan Ding</p>
                                    <p>7801 Bennet Rd</p>
                                    <p>Vancouver, Richmond</p>
                                    <p>123-456-7890</p>
                                </div>
                            </div>
                      </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="social-links">
                        <li><a href="https://ca.linkedin.com/in/ryanding7" class="wow fadeInUp"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://ca.linkedin.com/in/ryanding7" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://ca.linkedin.com/in/ryanding7" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#page-top" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#page-top" class="wow fadeInUp" data-wow-delay=".6s"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <p class="heart">
                        Techies <span class="fa fa-heart fa-2x animated pulse"></span> Programming
                    </p>
                    <p class="copyright">
                        © 2015 Daniel D
                    </p>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </footer>
    
   <!-- JS -->
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/libs/bootstrap.min.js"></script>
    <script src="../js/libs/jquery.easing.min.js"></script>
    <script src="../js/libs/jquery.fittext.js"></script>
    <script src="../js/libs/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="../js/libs/creative.js"></script>
</body>

</html>
